.ad-start {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ad-start::after {
  content: ""; 
  position: absolute;
  top: 100%;
  border-top: 1px solid #000;
  width: 100%; 
}

.ad-container {
  background-color: rgb(233, 239, 245);
  width: 26%;
  height: 30rem; 
  margin: 4rem ;
  margin-bottom: 1rem;
  border-radius: 10px;
  align-items: center;
  display: flex;

}

.ad-heading {
  width: 30rem;
  text-align: center;
 
}
.ad-container.left {
  justify-content: flex-start; 
}

.ad-container.right {
  justify-content: center;
}

