
.ad-banner {
  height: 8rem;  /* Control the height of the banner here */
  width: 40%;
  margin: 2rem auto;  /* Top and bottom margins are 2rem, left and right margins are auto */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ad-container {
  max-width: 100%; /* Allow banner to be as wide as possible */
  height: 100%; /* Take full height of the ad-banner */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px dashed black;
}

.ad-container a {
  display: block;
  height: 100%;
  max-width: 100%; /* Ensure anchor doesn't exceed banner width */
}

.ad-container img {
  max-height: 100%; /* Image will fill the height of the banner */
  max-width: 100%; /* Image will fill the width of the banner */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}
